fluent-bit/conf
fluent-bit/log

fluentd/conf
fluentd/data
fluentd/plugins

golang/go
golang/workspace

httpd/conf
httpd/htdocs

hugo/blog

kafka/data

kubectl/config

logstash/config
logstash/pipeline

mariadb/mysql_conf
mariadb/mysql_data

maven/maven

nginx/conf.d
nginx/html
nginx/nginx.conf

python/site-packages
python/workspace

haproxy/haproxy.cfg

rabbitmq/conf
rabbitmq/data

tomcat/tomcat

zookeeper/data
