fluentd/conf
fluentd/data
fluentd/plugins

golang/go
golang/workspace

httpd/conf
httpd/htdocs

hugo/blog

kubectl/config

mariadb/mysql_conf
mariadb/mysql_data

nginx/conf.d
nginx/html
nginx/nginx.conf

python/site-packages
python/workspace
